env/
**/*__pycache__
**/*.ipynb_checkpoints
caltechpedestriandataset/
caltechpedestriandataset.zip
csv_files/
ECP/
datasets/
**/*.zip
**/*.pt
runs/
wandb/
**/*.pt
DS6050_Pedestrian_CalTechYOLO/
DS6050_Pedestrian_ECP_YOLO/
detr/
**/*.pth
